<section id="education" class="resume">
  <div class="container" data-aos="fade-up">
    <div class="col-lg-12 education" data-aos="fade-up" data-aos-delay="100">
      <h3 class="resume-title">Education</h3>
      <div class="resume-item">
        <h4>PhD of Computer Science<span class="resume-dates">(October 2020 - Current)</span></h4>
        <a href="https://en.kname.edu.ua/">
          O.M. Beketov National University of Urban Economy in Kharkiv
        </a>
        <br>
        Kharkiv, Ukraine
      </div>
      <div class="resume-item">
        <h4>
          <a href="../../assets/img/certificates/masters_diploma.jpg" alt="masters_diploma">
            Master of Project Management
          </a>
          <span class="resume-dates">(September 2013 - June 2015)</span>
        </h4>
        <a href="https://www.kpi.kharkov.ua/eng/">National Technical University "Kharkiv Polytechnic
          Institute"</a>
        <br>
        Kharkiv, Ukraine
        <br>
        <ul>
          <li>
            Implemented a Java-based forecasting software for modeling and predicting scientific and
            technological development in Ukraine's industry, using simulation models and inter-sectoral
            interactions.
          </li>
        </ul>
      </div>
      <div class="resume-item">
        <h4><a href="../../assets/img/certificates/bachelor_diploma.pdf" alt="bachelor_diploma">Bachelor of Computer
          Science</a><span
          class="resume-dates">(September 2009 - June 2013)</span>
        </h4>
        <a href="https://www.kpi.kharkov.ua/eng/">National Technical University "Kharkiv Polytechnic
          Institute"</a>
        <br>
        Kharkiv, Ukraine
      </div>
    </div>
    <div class="col-lg-12 courses" data-aos="fade-up">
      <h3 class="resume-title">Certifications</h3>
      <div class="resume-item">
        <h4>WORLD EDUCATION SERVICES</h4>
        <ul>
          <li>
            <a href="https://www.credly.com/badges/38ef85f8-22a0-4a4b-bd96-aa37696cf01c/linked_in_profile">
              Verified International Academic Qualifications. Canadian Equivalency Summary - Master's
              degree
            </a>
          </li>
        </ul>

      </div>
      <div class="resume-item">
        <h4>CELPIP-General</h4>
        <ul>
          <li>
            Listening - 11
          </li>
          <li>
            Reading - 9
          </li>
          <li>
            Writing - 8
          </li>
          <li>
            Speaking - 6
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-12 courses" data-aos="fade-up">
      <h3 class="resume-title">Courses</h3>

      <div class="resume-item">
        <h4><a href="https://explore.skillbuilder.aws/learn">AWS</a></h4>
        <ul>
          <li>
            <a href="https://www.credly.com/badges/40c7c3b1-c7e5-407d-b433-6bc60dc13f6a/linked_in_profile">
              AWS Cloud Quest: Cloud Practitioner</a> (March 2023)
          </li>
          <li><a href="../../assets/img/certificates/AWS_Cloud_Practitioner_Essentials.pdf" alt="aws_certificate">
            AWS Cloud Practitioner Essentials</a> (February 2023)
          </li>
        </ul>
      </div>
      <div class="resume-item">
        <h4><a href="https://www.epam.com/">EPAM SOFTWARE</a></h4>
        <ul>
          <!--                        <li>External Java Lab (February 2022 - Current)-->
          <!--                        </li>-->
          <li>EPAM AWS Cloud Practitioner Essentials (February 2023 - March 2023)
          </li>
          <li>
            <a href="https://certificates.epam.com/certificates/ffbe8999-875d-48f6-b8cc-6b62e4575c25">
              IT Marathon</a> (November 2022 - December 2022)
          </li>
          <li>
            <a href="https://certificates.epam.com/certificates/121ef58b-c16f-4eb1-816f-aa715cbec7d0">
              Java Spring-Summer 2022</a> (June 2022 - December 2022)
            <p>- Enhanced proficiency in full-stack Java development, including servlets, adeptly
              managed databases, and effectively worked with XML data using foundational skills in
              Java, HTML, CSS, JavaScript, SQL, and MySQL.</p>
          </li>
        </ul>
      </div>
      <!--                <div class="resume-item">-->
      <!--                    <h4><a href="https://leetcode.com/">Leetcode</a></h4>-->
      <!--                    <ul>-->
      <!--                        <li><a href="https://leetcode.com/kramarenkoVlad/">-->
      <!--                            Profile</a> (February 2022 - Current)-->
      <!--                        </li>-->
      <!--                    </ul>-->
      <!--                </div>-->
      <div class="resume-item">
        <h4><a href="https://www.salesforce.com/">Salesforce</a></h4>
        <ul>
          <li><a href="https://trailblazer.me/id/kramarenko">
            Trailhead</a> (December 2022 - Current)
          </li>
        </ul>
      </div>
      <div class="resume-item">
        <h4><a href="https://www.linkedin.com/learning">Linkedin</a></h4>
        <ul>
          <li>
            <a href="https://www.linkedin.com/learning/certificates/568732c50d7962949f378f6099a8a19a73e20ed4c1647b178c3d15f2a2d14c03?u=106534538">
              Learning Kubernetes
            </a>
          </li>
          <li>
            Agile:
            <a href="https://www.linkedin.com/learning/certificates/e5fb7094be88fc97b0541d32694170431c88b3ddaf74acf14c4df09c505754d5?u=106534538">
              Foundations
            </a>
            ,
            <a href="https://www.linkedin.com/learning/certificates/d6a7cfb2e9d325c602b0ceaea1dac1517b81b301a4bd6c04d30bd7e541c03d8f?u=106534538">
              Project Management with Jira Cloud
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/learning/certificates/a40023cbe8209bcb7e996e5d158d3ca3926eaad0fb233de4964b8fd3e929d5a2?u=106534538">
              Java: Lambdas and Streams
            </a>
          </li>
          <li>Scrum:
            <a href="https://www.linkedin.com/learning/certificates/7c3237541443b61e5f3d27ed5b7c90d7ab8b21d0be3752797736802caf2c0917?u=106534538">
              The Basics
            </a>
            ,
            <a href="https://www.linkedin.com/learning/certificates/464afd16985d72625a5652d0ae8b1ce601853e99b3dbe113d320137183c6ba23?u=106534538">
              Advanced
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/learning/certificates/b29b23ca4cdd2f9447d935466bc5101e5439d1e3cbb8bfa8de012f87df4010f8?u=106534538">
              Building RESTful APIs with Flask
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/learning/certificates/0c367ec16f1b6ed2ee46e65b3e831e6c1f43d8087927706d1c1eb332fb23ee9b">
              Python Essential Training
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/learning/certificates/b67967cac042d7af5dd4e5fb27ab34dfac6b6040bd5a82dc0096f03968934b16?u=106534538">
              Advanced Design Patterns: Design Principles
            </a>
          </li>
          <li>
            Programming Foundations:
            <a href="https://www.linkedin.com/learning/certificates/da87b09b3d9528dcb59f006328c0bd1a32b9f647b6a593f4ce79f9acd6a112cd?u=106534538">
              Design Patterns
            </a>
            ,
            <a href="https://www.linkedin.com/learning/certificates/9a0f3c45cf51ea96d98514a96a63b2a2df68e8809460d161f63d2ea36b71cd8c?u=106534538">
              Object-Oriented Design
            </a>
          </li>
        </ul>
      </div>
      <div class="resume-item">
        <h4><a href="https://stepik.org/learn">Stepik</a></h4>
        <ul>
          <li><a href="https://stepik.org/cert/1808213">
            Java. Functional Programming</a> (November 2022)
          </li>
          <li><a href="https://stepik.org/cert/1508188">
            BeeGeek "Generation Python": advanced course
          </a> (May 2022)
          </li>
          <li><a href="https://stepik.org/cert/1428132">
            Python: basics and application
          </a> (March 2022)
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-12 courses">
      <h3 class="resume-title">Publications</h3>
      <div class="resume-item">
        <h4>The Journal “Innovative technologies and scientific solutions for industries</h4>
        <ul>
          <li><a href="http://journals.uran.ua/itssi/article/view/242913">
            MODELING OF INFORMATION TECHNOLOGY OF
            MATERIAL RESOURCES MANAGEMENT OF A CONSTRUCTION COMPANY</a></li>
        </ul>
      </div>
      <div class="resume-item">
        <h4>Scientific and technical collection "Municipal economy of cities"</h4>
        <ul>
          <li><a href="https://khg.kname.edu.ua/index.php/khg/article/view/5812">MODELING THE EXTERNAL
            ENVIRONMENT
            DYNAMICS OF REAL ESTATE PROJECT</a></li>
        </ul>
      </div>
      <div class="resume-item">
        <h4>INTERNATIONAL SCIENTIFIC AND PRACTICAL CONFERENCE INTELLIGENT INFORMATION SYSTEMS IN MARTIAL LAW
          PROJECT MANAGEMENT AND ECONOMICS</h4>
        <ul>
          <li>
            <a href="chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/https://www.mmp-conf.org/documents/archive/proceedings2021.pdf">
              MODELING OF HOUSING CONSTRUCTION PROJECT EXOGENEOUS FACTORS INFLUENCE ON PROJECT
              EFFICIENCY
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
