@import "../../styles/variables.scss";

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: $second_color;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: $decor_color;
  color: #fff;
  text-decoration: none;
}

.desktop-menu {
  padding: 30px 0 0 0;
}

.desktop-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.desktop-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.desktop-menu a,
.desktop-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.desktop-menu a i,
.desktop-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.desktop-menu a:hover,
.desktop-menu .active,
.desktop-menu .active:focus,
.desktop-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.desktop-menu a:hover i,
.desktop-menu .active i,
.desktop-menu .active:focus i,
.desktop-menu li:hover > a i {
  color: $decor_color;
}
