<section id="portfolio" class="portfolio section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Portfolio</h2>
    </div>
    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-filters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-api">API</li>
          <li data-filter=".filter-web">Web-site</li>
          <li data-filter=".filter-app">Application</li>
          <li data-filter=".filter-design">Design</li>
          <li data-filter=".filter-draw">Drawing</li>
        </ul>
      </div>
    </div>
    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-3 col-md-3 portfolio-item filter-api">
        <div class="portfolio-wrapper">
          <a href="https://github.com/vladyslav-kramarenko/moviesApi"
             title="Api with CRUD operations for movie database">
            <img src="../../../assets/img/portfolio/moviesApi.webp"
                 class="img-thumbnail"
                 alt="Movies API">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 portfolio-item filter-api">
        <div class="portfolio-wrapper">
          <a href="https://github.com/vladyslav-kramarenko/GiftCertificatesSystem"
             title="Web service for Gift Certificates system">
            <img src="../../../assets/img/portfolio/GiftCertificatesSystemApi.webp"
                 class="img-thumbnail"
                 alt="Gift Certificates System API">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 portfolio-item filter-design">
        <div class="portfolio-wrapper">
          <a href="justCatPackage.html" title="Creating design for new package">
            <img src="../../../assets/img/portfolio/preview/Just_cat_3-min.webp"
                 class="img-thumbnail"
                 alt="JustCat Package">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 portfolio-item filter-design">
        <div class="portfolio-wrapper">
          <a href="https://justcat.com.ua/"
             title="Logo for my company Just Cat">
            <img src="../../../assets/img/logo/JustCatLogo.webp"
                 class="img-thumbnail"
                 alt="JustCat Logo">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 portfolio-item filter-draw">
        <div class="portfolio-wrapper">
          <a href="../../../assets/img/portfolio/scratching_post.skp"
             title="Drawing of scratching Post">
            <img src="../../../assets/img/portfolio/preview/scratching_post-min.webp"
                 class="img-thumbnail"
                 alt="Scratching Post">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 portfolio-item filter-draw">
        <div class="portfolio-wrapper">
          <a href="../../../assets/img/portfolio/roller_for_granulator_400.skp"
             title="Drawing of rollers for pellet granulator">
            <img src="../../../assets/img/portfolio/preview/roller_for_granulator_400-min.webp"
                 class="img-thumbnail"
                 alt="Rollers for pellet granulator">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 portfolio-item filter-design">
        <div class="portfolio-wrapper">
          <a href="https://www.figma.com/file/B1GrymQ9gnxy9pNkSYOQHu/Tic-Tac-Toe?node-id=0%3A1"
             title="Tic-Tac-Toe EPAM design practicum in Figma">
            <img src="../../../assets/img/portfolio/preview/tic-tac-toe_web_design.webp"
                 class="img-thumbnail"
                 alt="Tic-Tac-Toe">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 portfolio-item filter-web">
        <div class="portfolio-wrapper">
          <a href="tax_service.html"
             title="Project for EPAM Java Course - Tax Service">
            <img src="../../../assets/img/portfolio/tax_service/tax_service_reports.webp"
                 class="img-thumbnail"
                 alt="Tax Service">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 portfolio-item filter-web">
        <div class="portfolio-wrapper">
          <a href="http://lagrange.kramarenko.info/"
             title="Online function interpolation using Lagrange method">
            <img src="../../../assets/img/portfolio/lagrange.webp"
                 class="img-thumbnail"
                 alt="Lagrange web">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 portfolio-item filter-web">
        <div class="portfolio-wrapper">
          <a href="http://tic-tac-toe.kramarenko.info/"
             title="Tic-Tac-Toe EPAM frontend practicum">
            <img src="../../../assets/img/portfolio/tic-tac-toe_web.webp"
                 class="img-thumbnail"
                 alt="Lagrange web">
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 portfolio-item filter-app">
        <div class="portfolio-wrapper">
          <a href="https://github.com/vladyslav-kramarenko/CMVI"
             title="App for solving mathematical problems by numerical methods (2012)">
            <img src="../../../assets/img/portfolio/cmvi.webp"
                 class="img-thumbnail"
                 alt="java app">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
