.modal-backdrop {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-content {
  background: none;
  width: auto;
  display: block;
  unicode-bidi: isolate;
  position: relative;
}

.modal-content img {
  max-width: 90vw;
  max-height: 80vh;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px black solid;
  color: var(--text-color-light);
  font-size: 24px;
  cursor: pointer;
  border-radius: 50px;
  padding: 0 9px 0;
  text-align: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  background-color: white;
}

.modal-close-btn:hover {
  color: #df5500;
  transition: none;
}

.portfolio {
  max-width: 100%; /* Ensures the image does not exceed the modal size */
  display: block; /* Removes bottom margin/gap */
}

.portfolio:hover {
  cursor: pointer;
}
