<section id="badges">
  <div class="col-lg-12 badges" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
      <h3 class="resume-title">Achievements</h3>
      <div class="badges-container">
        <div class="scroll-container">
        <span *ngFor="let badge of badges; let i = index" class="badge">
          <a [href]="badge.link.url" target="blank">
            <img class="clickable rounded" height="153"
                 [src]="badgeFolder + badge.image.url"
                 [alt]="badge.image.alt">
          </a>
        </span>
        </div>
      </div>
    </div>
  </div>
</section>
