<section id="contacts" class="contacts section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h3 class="resume-title">Contacts</h3>

      <p><i class="bx bxs-phone-call"></i>
        <a href="tel:+1  236-992-9229"> +1 236-992-9229 </a>
        <img class="img-fluid align-top" src="../../../assets/img/ca.webp" alt="ca_flag" width="23"/>
      </p>
      <p><i class="bx bxs-phone-call"></i>
        <a href="tel:+1 236-992-9229"> +38 097-316-8261 </a>
        <img class="img-fluid align-top" src="../../../assets/img/ua.webp" alt="ua_flag" width="23"/>
      </p>
      <p><i class="bx bxl-telegram"></i>
        <a href="https://t.me/KramarenkoVlad"> @KramarenkoVlad</a>
      </p>
      <p><i class="bx bxl-linkedin"></i>
        <a href="https://www.linkedin.com/in/vladyslav-kramarenko/"> Vladyslav-Kramarenko</a>
      </p>
      <p><i class="bx bxl-github"></i>
        <a href="https://github.com/vladyslav-kramarenko"> Vladyslav-Kramarenko</a>
      </p>
      <p><i class="bx bxl-gitlab"></i>
        <a href="https://gitlab.com/Vladyslav-Kramarenko"> Vladyslav-Kramarenko</a>
      </p>
      <p><i class="bx bxs-envelope"></i>
        <a href="email:kramarenko.vladyslav.92@gmail.com"> kramarenko.vladyslav.92@gmail.com</a>
      </p>
      <p><i class="bx bxs-home"></i>
        <a href="https://goo.gl/maps/KrLZXCDSrv3nsvdc8"> 2980 Atlantic
          Ave, Coquitlam, BC, V3B0G2, Canada</a></p>
    </div>
  </div>
</section>
