<section id="contacts" class="contacts section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h3 class="resume-title">Contact Info</h3>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="info-box">

          <h3>My Address</h3>
          <p>
            <i class="bx bx-map"></i>
            <a
              target=”_blank”
              href="https://www.google.com/maps/place/2980+Atlantic+Ave,+Coquitlam,+BC+V3B+0G2/@49.2814803,-122.7955463,17z/data=!4m6!3m5!1s0x54867f33b6461e67:0xc5a5246a70dfc3e4!8m2!3d49.2814803!4d-122.7955463!16s%2Fg%2F11c25vtqdb">
              2980 Atlantic Ave, Coquitlam, BC, V3B0G2, Canada
            </a>
          </p>
        </div>
        <div class="info-box">
          <h3>Follow Me</h3>

          <p>
            <a href="https://www.linkedin.com/in/vladyslav-kramarenko/"> <i class="bx bxl-linkedin large-icon"></i></a>
            <a href="https://www.facebook.com/Vladyslav.Kramarenko"> <i class="bx bxl-facebook large-icon"></i></a>
            <a href="https://t.me/KramarenkoVlad"> <i class="bx bxl-telegram large-icon"></i></a>
            <a href="https://github.com/vladyslav-kramarenko"> <i class="bx bxl-github large-icon"></i></a>
            <a href="https://gitlab.com/Vladyslav-Kramarenko"> <i class="bx bxl-gitlab large-icon"></i></a>
            <a href="https://www.youtube.com/@PurrfectTrips/featured"> <i class="bx bxl-youtube large-icon"></i></a>
            <a href="https://www.instagram.com/kramarenko.vladyslav/"> <i class="bx bxl-instagram large-icon"></i></a>
          </p>

        </div>
      </div>

      <div class="col-lg-6">
        <div class="info-box">
          <h3>Call Me</h3>
          <p>
            <i class="bx bxs-phone-call"></i><a href="tel:+12369929229">+1 236-992-9229 </a>
            <i class="bx bxs-phone-call"></i><a href="tel:+380973168261">+38 097-316-8261 </a>
          </p>
        </div>

        <div class="info-box">
          <h3>Email Me</h3>

          <p>
            <i class="bx bxs-envelope"></i>
            <a href="mailto: kramarenko.vladyslav.92@gmail.com">
              kramarenko.vladyslav.92@gmail.com</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-12">
        <div class="map">
          <iframe class="google-map" src="https://www.google.com/maps/d/u/0/embed?mid=1BB_191Svg9FYy-i2wKDtAbUou8we9Fo&ehbc=2E312F&z=10"
                  width="100%" height="410" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
