<div class="col-lg-12 skills" data-aos="fade-up" data-aos-delay="100">
  <div class="container">
    <h3 class="resume-title">Skills</h3>
    <div class="resume-item">
      <h4>Application software:</h4>
      <h5>Jira</h5>
      <h5>Jenkins</h5>
      <h5>Postman</h5>
      <h5>MySQl</h5>
      <h5>Tomcat</h5>
      <h5>MS Office</h5>
      <h5>MS Project</h5>
      <h5>MS Visio</h5>
      <h5>Photoshop</h5>
      <h5>Figma</h5>
      <h5>SketchUp</h5>
      <h5>Docker</h5>
      <h5>Kubernetes</h5>
      <h5>AWS</h5>
    </div>
    <div class="resume-item">
      <h4>Programming skills:</h4>
      <h5>Java</h5>
      <h5>Python</h5>
      <h5>JavaScript</h5>
      <h5>TypeScript</h5>
      <h5>SQL</h5>
      <h5>XML</h5>
      <h5>YAML</h5>
      <h5>HTML</h5>
      <h5>CSS</h5>
    </div>
    <div class="resume-item">
      <h4>Frameworks/Tools:</h4>
      <h5>Bootstrap</h5>
      <h5>Git</h5>
      <h5>Spring Boot</h5>
      <h5>Spring Security</h5>
      <h5>Spring MVC), </h5>
      <h5>Hibernate/JPA</h5>
      <h5>Mockito</h5>
      <h5>Swagger</h5>
      <h5>Maven</h5>
      <h5>Gradle</h5>
      <h5>JUnit</h5>
      <h5>SonarQube</h5>
    </div>
    <div class="resume-item">
      <h4>Methodologies:</h4>
      <h5>Agile</h5>
      <h5>Scrum</h5>
      <h5>Kanban</h5>
      <h5>Lean</h5>
      <h5>TDD</h5>
      <h5>Waterfall</h5>
      <h5>TOC</h5>
    </div>
    <div class="resume-item">
      <h4>Soft skills:</h4>
      <h5>Curiosity</h5>
      <h5>Goal-oriented</h5>
      <h5>Stress tolerance</h5>
      <h5>Problem-solving</h5>
      <h5>Leadership</h5>
      <h5>Organization</h5>
      <h5>Customer-centric</h5>
      <h5>Adaptability</h5>
      <h5>Flexibility</h5>
    </div>
  </div>
</div>
