<section id="education" class="resume">
  <div class="container" data-aos="fade-up">
    <div class="col-lg-12 education" data-aos="fade-up" data-aos-delay="100">
      <h3 class="resume-title">Education</h3>
      <div *ngFor="let edu of education; let i = index"
           class="resume-item clickable"
           (click)="toggleCollapse(i)"
           [ngClass]="{'bg-light': expandedState[i]}">

        <h4>
          {{ edu.degree }}
          <span class="resume-dates">({{ edu.dates }})</span>
          <i class="bx expand-icon"
             [ngClass]="{'bx-chevron-up-circle':expandedState[i], 'bx-chevron-down-circle': !expandedState[i]}"
             aria-hidden="true">
          </i>
        </h4>

        <span *ngIf="edu.degreeLink; else universityText">
          <a [href]="edu.degreeLink">{{ edu.university }}</a>
        </span>
        <ng-template #universityText>{{ edu.university }}</ng-template>

        <br>
        <span *ngIf="edu.location">{{ edu.location }}</span>
        <br>
        <ul class="education-description" [@openClose]="expandedState[i] ? 'open' : 'closed'">
          <li *ngFor="let desc of edu.description">{{ desc }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
