<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="over" [opened]="false">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>

    <button (click)="toggleSidenav()" class="toggle-button">
      <i class="bx bx-menu menu"></i>
    </button>

    <app-main-title></app-main-title>

    <main id="main">
      <app-summary></app-summary>
      <app-skills></app-skills>
      <app-experience></app-experience>
      <app-education></app-education>
      <app-contacts></app-contacts>
      <app-portfolio></app-portfolio>
    </main>

    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
