<header id="sidebar">
  <div class="d-flex flex-column">
    <div class="profile">
      <img src="assets/img/profile-photo.webp" alt="My_photo" class="img-fluid rounded-circle">

      <h1 class="text-light">
        <a href="index.html">Vladyslav Kramarenko</a>
      </h1>

      <div class="social-links mt-3 text-center">
        <a href="https://www.linkedin.com/in/vladyslav-kramarenko/" class="linkedin">
          <i class="bx bxl-linkedin"></i>
        </a>
        <a href="https://www.facebook.com/Vladyslav.Kramarenko" class="facebook">
          <i class="bx bxl-facebook"></i>
        </a>
        <a href="mailto: kramarenko.vladyslav.92@gmail.com" class="E-mail">
          <i class="bx bxl-gmail"></i>
        </a>
        <a href="https://github.com/vladyslav-kramarenko" class="GitHub">
          <i class="bx bxl-github"></i>
        </a>
        <a href="https://www.instagram.com/kramarenko.vladyslav/" class="instagram">
          <i class="bx bxl-instagram"></i>
        </a>
      </div>
    </div>

    <nav id="navbar" class="desktop-menu navbar">
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="active" class="nav-link">
            <i class="bx bx-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a routerLink="/summary" routerLinkActive="active" class="nav-link">
            <i class="bx bxs-bookmark"></i>
            <span>Summary</span>
          </a>
        </li>
        <li>
          <a routerLink="/experience" routerLinkActive="active" class="nav-link">
            <i class="bx bxs-file"></i>
            <span>Experience</span>
          </a>
        </li>
        <li>
          <a routerLink="/education" routerLinkActive="active" class="nav-link">
            <i class="bx bxs-book"></i>
            <span>Education</span>
          </a>
        </li>
        <li>
          <a routerLink="/contacts" routerLinkActive="active" class="nav-link">
            <i class="bx bx-phone"></i>
            <span>Contacts</span>
          </a>
        </li>
        <li>
          <a routerLink="/portfolio" routerLinkActive="active" class="nav-link">
            <i class="bx bx-paint"></i>
            <span>Portfolio</span>
          </a>
        </li>
        <li>
          <a routerLink="/resume" routerLinkActive="active" class="nav-link">
            <i class="bx bxs-file-pdf"></i>
            <span>Download My Resume</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>
