<header id="sidebar">
  <div class="d-flex flex-column">
    <div class="profile">
      <img src="../../../assets/img/profile-photo.webp" alt="My_photo" class="img-fluid rounded-circle">

      <h1 class="text-light">
        <a href="../../../index.html">Vladyslav Kramarenko</a>
      </h1>

      <div class="social-links mt-3 text-center">
        <a href="https://www.linkedin.com/in/vladyslav-kramarenko/"
           aria-label="LinkedIn profile for Vladyslav Kramarenko" class="linkedin profile">
          <i class="bx bxl-linkedin"></i>
        </a>
        <a href="https://www.facebook.com/Vladyslav.Kramarenko" aria-label="Facebook profile"
           class="facebook">
          <i class="bx bxl-facebook"></i>
        </a>
        <a href="mailto: kramarenko.vladyslav.92@gmail.com" aria-label="e-mail" class="E-mail">
          <i class="bx bxs-envelope"></i>
        </a>
        <a href="https://t.me/KramarenkoVlad" aria-label="Telegram profile">
          <i class="bx bxl-telegram"></i>
        </a>
        <a href="https://github.com/vladyslav-kramarenko" aria-label="Github profile" class="GitHub">
          <i class="bx bxl-github"></i>
        </a>
        <a href="https://www.instagram.com/kramarenko.vladyslav/" aria-label="Instagram profile" class="instagram">
          <i class="bx bxl-instagram"></i>
        </a>
      </div>
    </div>

    <nav id="navbar" class="desktop-menu navbar">
      <ul>
        <li>
          <a [routerLink]="['/home']" [fragment]="'main-title'" queryParamsHandling="preserve" routerLinkActive="active"
             class="nav-link" (click)="closeSidenav()">
            <i class="bx bx-home"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home']" [fragment]="'summary'" queryParamsHandling="preserve" routerLinkActive="active"
             class="nav-link" (click)="closeSidenav()">
            <i class="bx bxs-bookmark"></i>
            <span>Summary</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home']" [fragment]="'badges'" queryParamsHandling="preserve" routerLinkActive="active"
             class="nav-link" (click)="closeSidenav()">
            <i class="bx bxs-file"></i>
            <span>Achievements</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home']" [fragment]="'skills'" queryParamsHandling="preserve" routerLinkActive="active"
             class="nav-link" (click)="closeSidenav()">
            <i class="bx bxs-file"></i>
            <span>Skills</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home']" [fragment]="'experience'" queryParamsHandling="preserve" routerLinkActive="active"
             class="nav-link" (click)="closeSidenav()">
            <i class="bx bxs-file"></i>
            <span>Experience</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home']" [fragment]="'education'" routerLinkActive="active" class="nav-link"
             (click)="closeSidenav()">
            <i class="bx bxs-book"></i>
            <span>Education</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home']" [fragment]="'publications'" queryParamsHandling="preserve"
             routerLinkActive="active" class="nav-link" (click)="closeSidenav()">
            <i class="bx bxs-news"></i>
            <span>Publications</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home']" [fragment]="'courses'" queryParamsHandling="preserve" routerLinkActive="active"
             class="nav-link" (click)="closeSidenav()">
            <i class="bx bxs-label"></i>
            <span>Courses</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home']" [fragment]="'contacts'" queryParamsHandling="preserve" routerLinkActive="active"
             class="nav-link" (click)="closeSidenav()">
            <i class="bx bx-phone"></i>
            <span>Contacts</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home']" [fragment]="'portfolio'" queryParamsHandling="preserve" routerLinkActive="active"
             class="nav-link" (click)="closeSidenav()">
            <i class="bx bx-paint"></i>
            <span>Portfolio</span>
          </a>
        </li>
        <li>
          <a href="assets/documents/2023_Java_SD_Kramarenko_Vladyslav.pdf" target=”_blank” routerLinkActive="active"
             class="resume-btn btn">
            <i class="bx bxs-file-pdf"></i>
            <span>Download My Resume</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>
