@import "../../../styles/experience-title";
@import "../../../styles/variables";

.clickable {
  &:hover {
    box-shadow: 0 0 20px $decor_color;
  }
}

.skill-category{
  padding-left: 4px;
  padding-top: 2px;
  user-select: none;
}

