<section id="skills">
  <div class="col-lg-12 skills" data-aos="fade-up" data-aos-delay="100">

    <div class="container">
      <h3 class="resume-title">Skills</h3>
      <div *ngFor="let skillGroup of skills; let i = index" class="resume-item">
        <h4 class="skill-category">{{ skillGroup.category }}</h4>
        <div class="skills-matrix">
          <div *ngFor="let skill of skillGroup.skills" class="skill-item">
            <ng-container *ngIf="skill.icon; else noIcon">
              <img *ngIf="skill.icon" [src]="getIconUrl(skill.icon)" alt="{{ skill.name }} icon" class="skill-icon">
            </ng-container>
            <ng-template #noIcon>
              <span class="skill-name">{{ skill.name }}</span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
