@import "../../../styles/experience-title";
@import "../../../styles/variables";

.clickable {
  &:hover {
    box-shadow: 0 0 20px $decor_color;
  }
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 15px;
}

.badge {
  padding-bottom: 30px;
  flex: 0 0 auto;
}
