@import "../../../styles/experience-title";
@import "../../../styles/variables";

.clickable {
  &:hover {
    box-shadow: 0 0 20px $decor_color;
  }
}

.skill-category{
  padding-left: 4px;
  padding-top: 2px;
}

.skills-matrix {
  display: flex;
  flex-wrap: wrap;
}

.skill-item {
  margin: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.skill-name {
  white-space: nowrap;
}
