@import "styles/variables.scss";

body {
  width:100%;
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: $second_color;
  text-decoration: none;
}

a:hover {
  color: $decor_color;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}
