@import "src/styles/variables";

.footer {
  background-color: #040b14;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-shrink: 0;
}

.grey-text {
  color: #a8a9b4;
}

.link {
  color: #a8a9b4;

  &:hover {
    color: $decor_color;
    text-decoration: none;
  }
}

#copyright {
  color: white;

  &:hover {
    color: $decor_color;
  }
}

.social-links{
  display: flex;
  flex-direction: row;
}

.resume{
  align-items: center;
}


